/* app css stylesheet */

body {
    padding-top: 20px;
}
.quiz-list li{
    list-style: none;
    margin-bottom: 5px;
}
.cursor-pointer{
    cursor:pointer;
}


.panel-login {
    border-color: #ccc;
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    background: rgba(255,255,255,.4);
    margin: 30px auto;
}
.panel-login>.panel-heading {
    color: #00415d;
    text-align:center;
}
.panel-login>.panel-heading a{
    text-decoration: none;
    color: #666;
    font-weight: bold;
    font-size: 15px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}
.panel-login>.panel-heading a.active{
    color: #2C5E9B;
    font-size: 1.7em;
}
.panel-login>.panel-heading{
    padding: 20px 15px;
}
.panel-login>.panel-heading hr{
    margin-top: 10px;
    margin-bottom: 0px;
    clear: both;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}
.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
    height: 45px;
    border: 1px solid #ddd;
    font-size: 16px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

.panel-login input[type="text"].ng-invalid.ng-touched,.panel-login input[type="email"].ng-invalid.ng-touched,.panel-login input[type="password"].ng-invalid.ng-touched {
    border: 1px solid #ff0000;
    color: #ff0000
}
.panel-login input:hover,
.panel-login input:focus {
    outline:none;
    box-shadow: 0 0 5px #88bce1;
    border-color: #ccc;
}
.btn-login {
    background-color: #3089b7;
    outline: none;
    color: #fff;
    font-size: 17px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    border-color: #3089b7;
    box-shadow: none !important;
}
.btn-login:hover,
.btn-login:focus {
    color: #fff;
    background-color: #53A3CD;
    border-color: #53A3CD;
}
.forgot-password {
    text-decoration: underline;
    color: #888;
}
.forgot-password:hover,
.forgot-password:focus {
    text-decoration: underline;
    color: #666;
}

.btn-register {
    background-color: #1CB94E;
    outline: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    border-color: #1CB94A;
}
.btn-register:hover,
.btn-register:focus {
    color: #fff;
    background-color: #1CA347;
    border-color: #1CA347;
}
a.logout{
    color: #fff;
    margin-left: 10px;
}
a.logout:hover{
    color: #f7f7f7;
    text-decoration: none;
}
span.error{
    height: 30px;
    line-height: 30px;
    color: #ff0000;
}

.table-responsive-styles{
    background: #fff;
    width:100%;
    height: 600px;
    overflow: auto;
    
}

#background {
    background: url(../images/loadingfiles2.gif) no-repeat center #fff;
    position: absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   z-index: -1;
  min-height:350px;
  color: #D71B32;
  font-size: 35px;
  padding: 30px 0 0 0;
  text-align: center;
}
.bgheading {
    background: #fff;
    color: #000; font-size: 13px;
}
th.rotate {
  /* Something you can count on */
  height: 140px;
  white-space: nowrap;
}

th.rotate > div {
  transform: 
    rotate(-90deg);
  width: 40px;
}
th.rotate > div > span {
  
  padding: 5px 10px;
}
.bgPurple {
    background: rgb(242,220,219);
    }
.bgPurple td, .bgYellow td, td.bgPurple, td.bgYellow, th.bgPurple,  th.bgYellow{
    border: 1px solid #000 !important;
}
.bgYellow {
    background: rgb(255,255,204);
}